.h{
    padding:40px;
    margin:auto;
    width: 200px;
    background-color: blanchedalmond;
    justify-items: center;
    border-radius: 10px;
}
.btn{
    padding:5px 10px;
    margin-bottom: 20px;

}
.b1{
    font-size: small;

}
.a1{
  font: bold; 
  color: white; 
}
.c1{
 background-color: red; 
 padding: 10px;
}